.testimonials {

  position: relative;
  margin-bottom: -35px;
}
.testimonials:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;

}
#customers-testimonials .item-details {

  color: #fff;
  padding: 20px 10px;
  text-align: left;
  border-radius: 50px;
}
#customers-testimonials .item-details h5 {

  font-size: 18px;
}
#customers-testimonials .item-details h5 span {

  float: right;
  padding-right: 20px;
}
#customers-testimonials .item-details p {
  font-size: 14px;
}
#customers-testimonials .item {
  text-align: center;
  margin-bottom: 80px;
}
.owl-carousel .owl-nav [class*='owl-'] {
  transition: all .3s ease; 
}
/* .owl-carousel .owl-nav [class*='owl-'].disabled:hover {

} */
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #691f7e;
  border: 1px solid #691f7e;
  text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}
.item{
  border-radius: 16px;
  background-color: #691f7e;
}
.img1sec-12,.img2sec-12,.img3sec-12,.img4sec-12,.img5sec-12{
  border-radius: 16px; 
}